@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body, ul {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFF9C4 !important;
}

.appbar {
    height: 34px;
    width: calc(100% - 24px);
    margin: 15px 12px;
}

.logo {
    width: 203px;
    float: left;
}

.inspirations {
    font-family: Permanent Marker;
    font-size: 27px;
    float: left;
    margin: 0;
}

.slide {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: calc(100% - 54px);
    padding: 0 27px;
    margin-top: -64px;
    z-index: -1;
    text-align: center;
}

.slide h1,
#sign-up h1 {
    font-weight: 100;
    font-size: 64px;
    letter-spacing: 7px;
    margin: 0;
    padding-top: 170px;
}

.slide p,
#sign-up p {
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 64px;
    margin-bottom: 50px;
}

.extensions a {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
}

.extensions img {
    width: 100px;
}

#travel {
    background-image: url(img/travel.jpg);
}

#investments {
    background-image: url(img/investments.jpg);
}

#entertainment {
    background-image: url(img/entertainment.jpg);
}

#shopping {
    background-image: url(img/shopping.jpg);
}

#erp {
    background-image: url(img/erp.jpg);
}

#sign-up {
    background-image: url(img/signup.jpg);
    background-position: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

#sign-up label {
    color: #333333;
    display: inline-block;
    margin-right: 40px;
}

#sign-up input {
    color: #333333;
    width: 300px;
    height: 35px;
    padding-left: 10px;
}

#sign-up ul {
    width: 500px;
    padding: 31px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

#sign-up li {
    margin-bottom: 40px;
}

#sign-up li:last-child {
    margin: 0;
}

.submit {
    background: #4CAF50;
    color: #FFFFFF !important;
    border: 0px;
    width: 150px !important;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.social-media {
    margin-top: 247px;
}

.social-media img {
    margin-left: 47px;
    background: #FFFFFF;
    border-radius: 22px;
    padding: 6px;
}
