@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
body, ul {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #1f57f9 !important;
}

.appbar {
    background: #000000;
    height: 64px;
    width: 100%;
}

.banner li {
    float: left;
    cursor: pointer;
    width: calc(100% / 5);
    list-style: none;
    height: calc(100% - 64px);
    background-size: cover;
    background-position: center;
}

.banner li .shadow {
    background: #000000;
    opacity: 0.2;
    height: calc(100% - 84px);
    width: calc(100% / 5);
    z-index: 10;
    position: absolute;
    transition: opacity 0.3s;
    float: left;
    top: 64px;
}

.banner li:hover .shadow {
    opacity: 0.6;
}

.banner li p {
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    margin-top: calc(700px / 2 - 54px);
    z-index: 20;
    position: relative;
}

.banner .travel {
    background-image: url(img/travel.jpeg);
}

.banner .investments {
    background-image: url(img/investments.jpeg);
}

.banner .entertainment {
    background-image: url(img/entertainment.jpeg);
}

.banner .shopping {
    background-image: url(img/shopping.jpeg);
}

.banner .erp {
    background-image: url(img/erp.jpg);
}

h1 {
    text-align: center;
    margin: 70px 0 0 0;
}

#travel,
#investments,
#entertainment,
#shopping,
#erp {
    padding: 0 100px;
    text-align: justify;
}

#travel h2,
#investments h2,
#entertainment h2,
#shopping h2,
#erp h2 {
    margin-top: 40px;
    font-weight: 400;
}

#travel p,
#investments p,
#entertainment p,
#shopping p,
#erp p {
    font-weight: 100;
}

#travel span,
#investments span,
#entertainment span,
#shopping span,
#erp span {
    font-size: 10px;
}

#travel div,
#investments div,
#entertainment div,
#shopping div,
#erp div {
    text-align: center;
}

#travel div img,
#investments div img,
#entertainment div img,
#shopping div img,
#erp div img {
    width: 100px;
    margin-left: 10px;
}
